<table class="table table-bordered">
    <tr>
        <td>用户名</td>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <td>邮件</td>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <td>邮件</td>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <td>姓名</td>
        <td>{{ user.userprofile.fullname }}</td>
    </tr>
    <tr>
        <td>性别</td>
        <td>{{ user.userprofile.get_gender_display }}</td>
    </tr>
    <tr>
        <td>电话</td>
        <td>{{ user.userprofile.tel }}</td>
    </tr>
    <tr>
        <td>手机</td>
        <td>{{ user.userprofile.mobile }}</td>
    </tr>
    <tr>
        <td>通讯地址</td>
        <td>{{ user.userprofile.address }}</td>
    </tr>
    <tr>
        <td>QQ</td>
        <td>{{ user.userprofile.QQ }}</td>
    </tr>
    <tr>
        <td>所在地</td>
        <td>{{ user.userprofile.position }}</td>
    </tr>
    <tr>
        <td>籍贯</td>
        <td>{{ user.userprofile.native }}</td>
    </tr>
    <tr>
        <td>用户状态</td>
        <td>{{ user.is_active | yesno:"激活,锁定,未知" }}</td>
    </tr>
    <tr>
        <td>超级管理员</td>
        <td>{{ user.is_superuser | yesno:"是,否,未知" }}</td>
    </tr>
    <tr>
        <td>管理员</td>
        <td>{{ user.is_staff | yesno:"是,否,未知" }}</td>
    </tr>
</table>
